<%- include('partials/header') %>
<div class="form-1">
<%- include ('partials/messages') %>
  <form action="/realtor/login"  method="POST">

    <h1>Realtor Login Page</h1>

      <p><input type="text" name="username"  placeholder="Enter your username"></p>
      <p><input type="password" name="password"  placeholder="Password"></p>

      <input type="submit" name="" value="Click to Login" >

      </form>

</div>


<%- include('partials/footer') %>
